<?xml version="1.0"?>
<launch>
  <!-- Minimal launch file for platform IBVS -->
  <!-- Use this for testing with custom topics -->

  <arg name="marker_id" default="0" />
  <arg name="desired_depth" default="1.0" />
  <arg name="control_freq" default="50" />

  <node
    pkg="dynamic_ibvs"
    type="platform_ibvs_node"
    name="platform_ibvs"
    output="screen"
  >
    <param name="tracking_marker_id" value="$(arg marker_id)" />
    <param name="desired_depth" value="$(arg desired_depth)" />
    <param name="control_frequency" value="$(arg control_freq)" />
  </node>

</launch>
